In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('seattle-weather.csv')
df.head()

         date  precipitation  temp_max  temp_min  wind  weather
0  2012-01-01            0.0      12.8       5.0   4.7  drizzle
1  2012-01-02           10.9      10.6       2.8   4.5     rain
2  2012-01-03            0.8      11.7       7.2   2.3     rain
3  2012-01-04           20.3      12.2       5.6   4.7     rain
4  2012-01-05            1.3       8.9       2.8   6.1     rain

In [4]:
# size of dataset
df.shape

(1461, 6)

In [5]:
# range of dates in the dataset
min(df['date']),max(df['date'])

('2012-01-01', '2015-12-31')

In [6]:
# different weather categories
df['weather'].unique()

array(['drizzle', 'rain', 'sun', 'snow', 'fog'], dtype=object)

In [7]:
# get value count for weather categories
df['weather'].value_counts()

weather
rain       641
sun        640
fog        101
drizzle     53
snow        26
Name: count, dtype: int64

In [8]:
# check if any missing
df.isna().sum()

date             0
precipitation    0
temp_max         0
temp_min         0
wind             0
weather          0
dtype: int64

In [ ]:
# check datatypes and change accordingly if necessary
df.dtypes

date              object
precipitation    float64
temp_max         float64
temp_min         float64
wind             float64
weather           object
dtype: object

In [10]:
# calculate month and year
df['month'] = pd.to_datetime(df['date'],format='%Y-%m-%d').dt.month
df['year'] = pd.to_datetime(df['date'],format='%Y-%m-%d').dt.year

In [11]:
df.head(2)

         date  precipitation  temp_max  temp_min  wind  weather  month  year
0  2012-01-01            0.0      12.8       5.0   4.7  drizzle      1  2012
1  2012-01-02           10.9      10.6       2.8   4.5     rain      1  2012

In [12]:
# get month-wise values